[submodule "src/include/lut_support-a7d4c9fa7d6a4c1a5c1494d29d99617b392c8255/rocc-software"]
	path = src/include/lut_support-a7d4c9fa7d6a4c1a5c1494d29d99617b392c8255/rocc-software
	url = https://github.com/IBM/rocc-software.git
